* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

}
 
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 2rem auto;
  width: 90%;
}
 
.container {
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding: 0 2rem;
}

h2{
  font-weight: 600;
}

.inputCon{
  /* border: 1px solid red; */
  margin: 1rem 0;
}
label{
  font-size: 1.2rem;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 15px 4px;
  margin: 8px 0;
  border-radius: 8px;
}
 
.btn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 15px 0;
  background-color: #0077EE;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}
 
.btn-outline {
  background-color: #fff;
  color: #A6BCDA;
}
 
.center {
  text-align: center;
  margin: 24px 0;
}
 
